<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用接口 代理的方式 namespace必须和接口的全路径名称一致 -->
<mapper namespace="edu.fzu.qujing.mapper.ExpensesMapper">

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM expensesrecord
        WHERE userID = #{userId}
    </select>

    <insert id="addExpensesRecord">
        INSERT INTO expensesrecord
        (amount,time,userId,type)
        VALUES (#{amount},#{time},#{userId},#{type.id})
    </insert>


    <select id="listExpense" resultType="edu.fzu.qujing.bean.Expenses">
        SELECT
        er.id erid,
        er.amount eramount,
        er.time ertime,
        er.userId eruserId,
        er.type ertype
        FROM expensesrecord er
        <where>
            er.userId = #{userId}
        </where>
        ORDER BY er.id DESC
    </select>


</mapper>