<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用接口 代理的方式 namespace必须和接口的全路径名称一致 -->
<mapper namespace="edu.fzu.qujing.mapper.TaskMapper">
    <select id="getCountBySenderId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM task
        WHERE senderid = #{studentId}
    </select>


    <select id="getCountByReceiverId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM task
        WHERE receiverid = #{studentId}
    </select>

    <select id="listSimpleTask" resultType="edu.fzu.qujing.bean.Task">
        SELECT
        id,
        name,
        points,
        deadline,
        expedited
        FROM task
        WHERE state = #{state}
        ORDER BY expedited DESC,deadline
    </select>

    <select id="getTaskById" resultType="edu.fzu.qujing.bean.Task">
        SELECT
        id,
        name,
        points,
        deadline,
        state,
        content,
        ttid,
        senderid
        FROM task
        <where>
            id = #{id}
        </where>
    </select>


</mapper>