<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用接口 代理的方式 namespace必须和接口的全路径名称一致 -->
<mapper namespace="edu.fzu.qujing.mapper.TypeMapper">
    <select id="listUserState" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM userState
    </select>

    <select id="listTaskType" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM tasktype
    </select>

    <select id="listTaskState" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM taskstate
    </select>

    <select id="getTakeState" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM taskstate
        WHERE id = #{id}
    </select>

    <select id="getTaskType" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM tasktype
        WHERE id = #{id}
    </select>

    <select id="listExpensesType" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM consumptiontype
    </select>

    <select id="getExpensesType" resultType="edu.fzu.qujing.bean.Type">
        SELECT id,name
        FROM consumptiontype
        WHERE id = #{id}
    </select>


</mapper>