<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 使用接口 代理的方式 namespace必须和接口的全路径名称一致 -->
<mapper namespace="edu.fzu.qujing.mapper.UserMapper">


    <update id="updateUser" flushCache="true">
        UPDATE user
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="points != null">
                points = #{points},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>
            <if test="receiveTaskNumber != null">
                receiveTaskNumber = #{receiveTaskNumber},
            </if>
            version = version + 1;
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <when test="email != null and email != ''">
                    emai = #{email}
                </when>
                <when test="studentId != null and studentId != ''">
                    studentId = #{studentId}
                </when>
            </choose>
        </where>
    </update>



    <select id="getUserToCheck" resultType="edu.fzu.qujing.bean.User">
        SELECT id,email,studentId,password,state,endTime,version
        FROM user
        <where>
            <choose>
                <when test="phone != null and phone !='' ">
                    phone = #{phone}
                </when>
                <when test="studentId != null and studentId !='' ">
                    studentId = #{studentId}
                </when>
            </choose>
        </where>
    </select>

    <select id="getUserPoints" resultType="edu.fzu.qujing.bean.User">
        SELECT id,points,version
        FROM user
        WHERE studentId = #{studentId}
    </select>

    <select id="getNumberOfTasksAccepted" resultType="edu.fzu.qujing.bean.User">
        SELECT id,receiveTaskNumber,version
        FROM user
        <where>
            studentId = #{studentId}
        </where>
    </select>

    <select id="getPhone" resultType="edu.fzu.qujing.bean.User">
        SELECT id,phone
        FROM user
        WHERE phone = #{phone}
    </select>

    <select id="getStudentId" resultType="edu.fzu.qujing.bean.User">
        SELECT id,studentId
        FROM user
        WHERE studentId = #{studentId}
    </select>

    <select id="getDetailUser" resultType="edu.fzu.qujing.bean.User">
        SELECT id,username,points,content,receiveTaskNumber,maliciousAcceptanceNumber,reportedNumber,version
        FROM user
        WHERE studentId = #{studentId}
    </select>


</mapper>